/*
  UNIVERSAL STYLE
*/
* {
    margin: 0;
    padding: 0;
}

/*
  BIG CONTAINER STYLE
*/

body {
    background-image: url("../images/background.png");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

header,
footer,
.first-container {
    background-color: transparent;
    box-shadow: 0 0 5px 5px black;
    height: auto;
    min-height: 50px;
    width: 100%;
}

.first-container {
    color: white;
    flex: 1;
    padding-bottom: 3%;
    padding-top: 3%;
}

/*
  UTILITY
*/


.center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.error-box {
    border-style: solid;
    border-color: #FF8000;
    background-color: #FFB266;
    color: black;
    font-size: 18px;
    height: 20%;
    padding: 1%;
    width: 50%;
}

.readonly {
    background-color: grey;
    color: white;
}

.text-hx {
    display: inline-block;
    color: red;
}


.text-hx a {
    color: yellow;
    text-decoration: none;
}

.text-hx a:hover {
    color: yellow;
}

/*
 *  STYLE SCROLL BAR
 */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

/*
  STYLE AJAX AUTOCOMPLETE
*/

.autocomplete-text {
    position: relative;
    border: 1px solid #d4d4d4;
    height: 25px;
    width: 53%;
    text-align: center;
    right: 5.8%;
}

.autocomplete-text:hover {

    background-color: #b0b0b0;
}

/*
  HEADER STYLE
*/

header nav {
    display: flex;
    flex-direction: row;
}

.header-logo {
    margin: 1%;
    padding: 1%;
    padding-top: 2%;
    text-align: center;
    width: 20%;
}

.header-logo-text {
    color: lime;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
}

.header-ul {
    list-style-type: none;
    width: 60%;
}

.header-ul li {
    display: block;
    float: left;
    font-size: 22px;
    margin: 1%;
    padding: 3%;
    padding-top: 4%;
    text-align: center;
    width: 20%;
}

.header-ul li a {
    color: cyan;
    font-weight: bold;
    text-decoration: none;
}

.header-ul li a:hover,
.header-logo-text:hover {
    background-color: gray;
    border: 20px solid gray;
    border-radius: 100px;
    box-shadow: 0 0 15px 15px gray;
}

.header-ul li a:hover {
    color: white;
}

.header-logo-text:hover {
    color: red;
}

.header-icon {
    margin: 1%;
    padding: 1%;
    padding-left: 2%;
    padding-right: 1%;
    text-align: center;
    width: 6%;
}

.header-image {
    height: auto;
    width: 60%;
}


/*
  ACCOUNT DROPDOWN
*/
.account-dropdown {
    display: inline-block;
    position: relative;
    right: 5%;
}

.account-dropdown-content {
    border: gray;
    border-style: dashed;
    border-radius: 15%;
    background-color: gray;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: none;
    max-width: 80px;
    min-width: 80px;
    padding: 2%;
    position: absolute;
    right: 5%;
    z-index: 1;

}

.account-dropdown-content hr {
    position: relative;
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 10px;
    right: 10%;
}

.account-dropdown-content ul {
    list-style-type: none;
}

.account-dropdown:hover .account-dropdown-content {
    display: block;
}

.account-dropdown-a,
.account-dropdown-a:hover {
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

/*
  FOOTER STYLE
*/

footer div a {
    color: orange;
    font-size: 20px;
    text-decoration: none;

}

.footer-text {
    color: white;
    font-size: 20px;
    margin-left: 1%;
    text-align: left;
    padding: 1%;

}

/*
  STYLES GENERALE DI
  LOGIN
  REGISTRAZIONE
  ASSISTENZA
  ADMIN PAGE
*/

.fieldset-form {
    border: none;
    display: block;
    width: 50%;
}

.fieldset-form legend {
    color: lime;
    font-size: 42px;
    font-weight: bold;
}

.form-a {
    color: aqua;
    text-decoration: none;
}

.form-w1 {
    display: block;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.form-w1 input[type=email],
.form-w1 input[type=password],
.form-w1 input[type=text] {
    padding: 10px;
    width: 50%;
}

.form-w1 input[type=button],
.form-w1 input[type=submit],
.form-w1 input[type=date] {
    padding: 10px;
    width: 20%;
}

/*
  TEXTAREA ASSISTENZA
*/

.textarea-lock {
    height: 16em;
    padding: 1%;
    resize: none;
    width: 80%;
}

/* 
  ADMIN STYLE 
*/

.adminManager {
    display: block;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.admin-ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    text-align: center;
    width: auto;
}

.admin-binput {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.admin-binput:hover {
    background-color: rgba(255, 0, 0, 1);
}

.admin-binput:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.adminManager input[type=email],
.adminManager input[type=password],
.adminManager input[type=text],
.adminManager input[type=date],
.adminManager input[type=number] {
    padding: 10px;
}

.adminManager input[type=email],
.adminManager input[type=password],
.adminManager input[type=text] {
    width: 50%;
}

.adminManager input[type=date],
.adminManager input[type=number] {
    width: 30%;
}

/* 
  NEGOZIO STYLE
*/
.shop-bar {
    position: absolute;
    left: 5%;
    top: 25%;
}

/*
  ACCOUNT STYLE
*/
.account-user-div {
    background-color: #295180;
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 65%;
    border-style: double;
}

.account-sidebar {
    float: left;
    display: block;
    padding: 0;
    width: 20%;
    background-color: #636466;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.account-sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.account-sidebar a:active {
    background-color: #295180;
    color: white;
}

.account-sidebar a:hover:not(a:active) {
    background-color: #555;
    color: white;
}

div::content {
    width: 100%;
    background-color: transparent;
    opacity: 1;
    height: auto;
    margin-left: 2%;
}


/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {

    .form-w1 input[type=button],
    .form-w1 input[type=submit],
    .form-w1 input[type=date] {
        padding: 10px;
        width: 50%;
    }

    /*
      ACCOUNT STYLE
    */
    .account-sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .account-sidebar a {
        float: left;
    }

    /*
      ADMIN STYLE
    */
    .admin-ul {
        display: flex;
        flex-direction: column;
    }

    .adminManager input[type=date] {
        padding: 10px;
        width: 20%;
    }

    .adminManager input[type=button],
    .adminManager input[type=submit] {
        display: inline-block;
        width: 100%;
    }

}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}