<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>TSWProject_GamesClick</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>Account</display-name>
    <servlet-name>Account</servlet-name>
    <servlet-class>it.project.servlet.redirect.Account</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Account</servlet-name>
    <url-pattern>/Account</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminPanel</display-name>
    <servlet-name>AdminPanel</servlet-name>
    <servlet-class>it.project.servlet.redirect.AdminPanel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPanel</servlet-name>
    <url-pattern>/AdminPanel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Assistenza</display-name>
    <servlet-name>Assistenza</servlet-name>
    <servlet-class>it.project.servlet.redirect.Assistenza</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Assistenza</servlet-name>
    <url-pattern>/Assistenza</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Carrello</display-name>
    <servlet-name>Carrello</servlet-name>
    <servlet-class>it.project.servlet.redirect.Carrello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Carrello</servlet-name>
    <url-pattern>/Carrello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>it.project.servlet.redirect.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>it.project.servlet.redirect.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Negozio</display-name>
    <servlet-name>Negozio</servlet-name>
    <servlet-class>it.project.servlet.redirect.Negozio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Negozio</servlet-name>
    <url-pattern>/Negozio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registrazione</display-name>
    <servlet-name>Registrazione</servlet-name>
    <servlet-class>it.project.servlet.redirect.Registrazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registrazione</servlet-name>
    <url-pattern>/Registrazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ALogout</display-name>
    <servlet-name>ALogout</servlet-name>
    <servlet-class>it.project.servlet.actions.ALogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ALogout</servlet-name>
    <url-pattern>/ALogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ALogin</display-name>
    <servlet-name>ALogin</servlet-name>
    <servlet-class>it.project.servlet.actions.ALogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ALogin</servlet-name>
    <url-pattern>/ALogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ARegistrazione</display-name>
    <servlet-name>ARegistrazione</servlet-name>
    <servlet-class>it.project.servlet.actions.ARegistrazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ARegistrazione</servlet-name>
    <url-pattern>/ARegistrazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminManager</display-name>
    <servlet-name>AdminManager</servlet-name>
    <servlet-class>it.project.servlet.actions.AdminManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminManager</servlet-name>
    <url-pattern>/AdminManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxAutoComplete</display-name>
    <servlet-name>AjaxAutoComplete</servlet-name>
    <servlet-class>it.project.ajax.AjaxAutoComplete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxAutoComplete</servlet-name>
    <url-pattern>/AjaxAutoComplete</url-pattern>
  </servlet-mapping>
</web-app>